@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
  padding: 0vh 50%;
  background-image: url("./hanumanji.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container{
  height: 40vh;
  width: 60vw;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 1px 6px 30px;
  position: absolute;
  left: 20vw;
  top: 20vh;
  text-shadow: 2px 2px 4px rgb(69, 67, 61);
}
p,.time{
  text-align: center;
  padding: 3vh;
  text-transform: uppercase;
  font-size: 3vw;
  color: white;
  font-family: 'Agdasima', sans-serif;
}
.time1 {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fdffff;
  font-size: 3vw;
  font-family: Orbitron;
  letter-spacing: 1vw;
}